Repository 2023-winter-techeer-sw-bootcamp-TeamF/TeamF, pull requests merged in 2024-01, with the labels that each got.

#20 [FE/feat/#1] 프론트앤드 기초 세팅
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/main.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Test.tsx
  frontend/src/theme.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: chore, frontend

#27 Be/build/#23
  Backend/package-lock.json
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/main.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Test.tsx
  frontend/src/theme.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: chore, backend

#28 [FE/feat/#22] 테스트 페이지 추가
  frontend/src/App.tsx
  frontend/src/pages/Sumin.tsx
Labels: feature, frontend

#29 [FE/feat/#21] 테스트
  frontend/src/App.tsx
  frontend/src/pages/Testing.tsx
Labels: feature, frontend

#30 Develop
  Backend/README.md
  Backend/app.js
  Backend/middleware/commonResponse.js
  Backend/package-lock.json
  Backend/routes/api.js
  Backend/routes/userInfo.js
  frontend/src/App.tsx
  frontend/src/pages/Sumin.tsx
  frontend/src/pages/Testing.tsx
Labels: docs, backend

#33 [Be/feat/#32] Swagger Implement
  Backend/app.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/api.js
  Backend/routes/test/test.js
  Backend/routes/userInfo.js
  Backend/swagger/swagger.js
  Backend/swagger/swagger_output.json
Labels: feature, chore, backend

#37 feat: compose implement
  docker-compose.yml
Labels: chore, backend

#38 chore : compose 경로 수정
  Backend/package.json
  docker-compose.yml
Labels: chore, backend

#40 fix: 자동배포 테스트
  Backend/README.md
Labels: chore, backend

#41 test: 자동배포 테스트
  Backend/README.md
Labels: chore, backend

#42 chore: swagger host 수정
  Backend/swagger/swagger.js
Labels: chore, backend

#43 [Be/feat/#36] feat: CICD 구축
  Backend/README.md
  Backend/app.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/api.js
  Backend/routes/test/test.js
  Backend/routes/userInfo.js
  Backend/swagger/swagger.js
  Backend/swagger/swagger_output.json
  docker-compose.yml
Labels: chore, backend

#44 [BE/feat/#36] Swagger 접속 명령어 작성
  Backend/swagger/swagger.js
Labels: chore, backend

#45 [BE/feat/#36] 240106-AM04:15 최신화
  Backend/swagger/swagger.js
Labels: chore, backend

#49 Be/feat/#48
  docker-compose-dev.yml
Labels: chore, backend

#50 Be/feat/#48 포트번호 충돌 해결
  docker-compose-dev.yml
Labels: bug, backend

#51 [BE/feat/#48] test: 젠킨스 dev 스웨거 동작 확인 및 자동배포 테스트
  Backend/app.js
Labels: feature, backend

#52 [BE/feat/#48] Swagger Base URL 수정
  Backend/swagger/swagger_output.json
Labels: chore, backend

#53 [BE/fix/#48] main 컴포즈 파일명 수정
  docker-compose-main.yml
Labels: chore, backend

#54 [BE/feat/#48] main 컴포즈 파일명 수정
  Backend/app.js
  Backend/swagger/swagger_output.json
  docker-compose-dev.yml
  docker-compose-main.yml
Labels: chore, backend

#61 [BE/feat/#59] CORS 설정 추가
  Backend/app.js
Labels: feature, chore, backend

#63 [BE/feat/#59] cors 관련 package.json 수정
  Backend/package.json
Labels: chore, backend

#64 [BE/feat/#59] cors 관련 package.json 수정
  Backend/app.js
  Backend/package.json
Labels: feature, chore, backend

#65 [BE/feat/#59] cors 모두 허용
  Backend/app.js
Labels: feature, chore, backend

#67 [FE/feat/#34] 네비게이션바 퍼블리싱
  frontend/src/App.tsx
  frontend/src/component/FortuneSelect.tsx
  frontend/src/component/Navbar.tsx
  frontend/src/pages/Main.tsx
Labels: feature, frontend

#72 [Be/fix/#66] CORS dev 테스트
  Backend/app.js
Labels: bug, backend

#73 [BE/fix/#66] CORS -> Swagger port Test
  Backend/swagger/swagger.js
  Backend/swagger/swagger_output.json
Labels: bug, backend

#58 [BE/feat/#57] mysql 기초 세팅
  Backend/app.js
  Backend/mysql/database.js
  Backend/mysql/database.json
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/test/test.js
Labels: feature, chore, backend

#62 [Be/feat/#55] SecretsManager 세팅 및 구현
  Backend/app.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/test/secreatsManager.js
Labels: feature, chore, backend

#77 [BE/feat/#75] SecretsManager Test Router 추가
  Backend/app.js
  Backend/routes/test/secreatsManager.js
  Backend/routes/test/test.js
  Backend/swagger/swagger_output.json
Labels: feature, chore, backend

#80 [Fe/feat/#74] MyPage 퍼블리싱 완료
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/assets/Background.png
  frontend/src/assets/TaroEx1.png
  frontend/src/assets/TaroEx2.png
  frontend/src/assets/TaroEx3.png
  frontend/src/component/Navbar.tsx
  frontend/src/pages/FoutuneSelect.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/MyPage.tsx
Labels: feature, frontend

#79 [Be/feat/#78] DB 연동 & 스웨거 정리 & 스켈레톤 코드 구현 & 주석 추가
  Backend/app.js
  Backend/mysql/configDB.js
  Backend/mysql/database.js
  Backend/mysql/database.json
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/mypage.js
  Backend/routes/result.js
  Backend/routes/tarot.js
  Backend/routes/test/secreatsManager.js
  Backend/routes/test/test.js
  Backend/routes/user.js
  Backend/swagger/swagger.js
  Backend/swagger/swagger_output.json
  docker-compose-dev.yml
Labels: feature, backend

#84 [FE/feat/#69] 운 선택 페이지 퍼블리싱 완료
  frontend/src/assets/Friendship.png
  frontend/src/assets/LoveFortune.png
  frontend/src/assets/MoneyFortune.png
  frontend/src/assets/TodayFortune.png
  frontend/src/assets/WishFortune.png
  frontend/src/component/Navbar.tsx
  frontend/src/pages/FoutuneSelect.tsx
Labels: feature, frontend

#87 [Be/feat/#78] 프로젝트 환경 변수 세팅
  Backend/.gitignore
  Backend/Dockerfile
  Backend/app.js
  Backend/aws/awsClientConfig.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/test/secreatsManager.js
  Backend/routes/test/secretsManager.js
  Backend/swagger/swagger_output.json
  README.md
  docker-compose-dev.yml
  docker-compose-main.yml
Labels: chore, cleanup, backend

#89 [FE/feat/#83] 타로 진행 페이지 퍼블리싱 완료
  frontend/src/assets/NextButton.png
  frontend/src/pages/FoutuneSelect.tsx
  frontend/src/pages/TarotProcess.tsx
Labels: feature, frontend

#92 [Fe/feat/#56] 로그인 페이지 퍼블리싱
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/component/Navbar.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
Labels: feature, frontend

#90 [FE/feat/#88] gpt 추가
  Backend/app.js
  Backend/chatgpt/api.js
  Backend/chatgpt/apiKey.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/test/test.js
Labels: feature, test, backend

#95 fix: bug fix
  Backend/chatgpt/api.js
Labels: bug, backend

#100 [BE/feat/#99] 가이드라인 내용 조회, 뽑은 카드 저장
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#101 [FE/feat/#86] 카드선택 전 대화창 퍼블리싱
  frontend/src/App.tsx
  frontend/src/component/Navbar.tsx
  frontend/src/pages/BeforeChat.tsx
Labels: feature, frontend

#106 [Fe/feat/#93] 회원가입 페이지 퍼블리싱
  frontend/src/App.tsx
  frontend/src/pages/Signup.tsx
Labels: feature, frontend

#104 [BE/feat/#102]: Poll APi Implement
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#109 [FE/feat/#98] 카드 저장 페이지 퍼블리싱
  frontend/src/App.tsx
  frontend/src/pages/CardSave.tsx
Labels: feature, frontend

#108 [Be/feat/#102] Poll 생성 구현
  Backend/middleware/commonResponse.js
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#97 chore: swagger update
  Backend/swagger/swagger_output.json
Labels: chore

#114 [FE/feat/#105] 카드 선택 페이지 반응형을 등록한다
  frontend/src/App.tsx
  frontend/src/component/Navbar.tsx
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/ResultDetail.tsx
Labels: design, frontend

#116 [Be/feat/#112] CORS 에러 해결
  Backend/app.js
  Backend/package-lock.json
  Backend/package.json
Labels: bug, backend

#117 Update swagger_output.json
  Backend/swagger/swagger_output.json
Labels: feature, backend

#120 [FE/design/#115]카드 저장 페이지 반응형을 등록한다
  frontend/src/App.tsx
  frontend/src/pages/BeforeChat.tsx
  frontend/src/pages/CardSave.tsx
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/ResultDetail.tsx
  frontend/src/pages/TarotProcess.tsx
Labels: design, frontend

#121 [FE/feat/#107] 타로 진행 페이지 반응형 처리
  frontend/src/pages/TarotProcess.tsx
Labels: design, frontend

#125 [BE/feat/#91] 유저 로직 구현
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#126 [BE/feat/#91] build jsonwebtoken install
  Backend/package-lock.json
  Backend/package.json
Labels: chore, backend

#129 [BE/feat/#91]스웨거 쿼리로 변경
  Backend/app.js
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#128 [FE/design/#110] 프론트 디자인 반응형 처리
  frontend/src/pages/BeforeChat.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/TarotProcess.tsx
Labels: design, frontend

#130 [BE/feat/#127] gpt api result json
  Backend/routes/result.js
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#132 [BE/feat/#131] swagger conflict 버그를 수정했어요
  Backend/swagger/swagger_output.json
Labels: bug, backend

#137 [Be/feat/#136] 타로 결과 상세조회 구현 및 파일 정리
  Backend/routes/mypage.js
  Backend/routes/result.js
  Backend/routes/tarot.js
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#138 [BE/feat/#136] 사라진 result를 찾아서
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: bug, backend

#140 develop 최신화
  Backend/swagger/swagger_output.json
Labels: cleanup, backend

#141 [Be/refactor/#139] develop 최신화
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: cleanup, backend

#143 [Be/feat/#142] 종합 저장 API 기능 구현
  Backend/routes/result.js
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#146 [BE/feat/#91]swagger error message 출력
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#147 [BE/refactor/#145] Mypage '/detail' Swagger 개선
  Backend/routes/mypage.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#152 [BE/fix/#151] 종합 결과 저장 API 수정
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: bug, backend

#155 [Be/refactor/#145] JWT 및 Swagger 개선
  Backend/app.js
  Backend/middleware/verifyToken.js
  Backend/routes/mypage.js
  Backend/routes/token.js
  Backend/routes/user.js
  Backend/swagger/swagger.js
  Backend/swagger/swagger_output.json
Labels: feature, refactoring, backend

#158 [BE/refactor/#157] swagger 오류 수정
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#159 Update mypage.js
  Backend/routes/mypage.js
Labels: bug, backend

#160 [FE/design/#149] 로그인, 회원가입 페이지 반응형, 비밀번호 숨기기
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
Labels: design, frontend

#164 [BE/fix/#162]: token 검증 수정
  Backend/swagger/swagger_output.json
Labels: bug, backend

#165 [BE/fix/#144] gpt 관련 api 수정
  Backend/chatgpt/api.js
  Backend/routes/result.js
  Backend/routes/tarot.js
  Backend/routes/test/test.js
  Backend/swagger/swagger_output.json
Labels: bug, backend

#166 [FE/feat/#148]운선택 페이지 카드 뒤집기 구현을 등록한다
  frontend/src/assets/FlipCard.png
  frontend/src/pages/FortuneSelect.tsx
Labels: feature, frontend

#169 [BE/feat/#167] gpt json 형태로 test 구현
  Backend/chatgpt/api.js
  Backend/routes/test/test.js
  Backend/swagger/swagger_output.json
Labels: feature, backend

#170 refactor : 종합 결과 및 뽑은 카드 정보 저장 API 수정
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#174 refactor : erd 변경에 따른 result.js 수정
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#175 [BE/refactor#172] 수정된 DB -> tarot.js 반영
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#176 [Fe/feat/#161] 상담 선택 페이지 텍스트 입력, 상담 페이지 주소분할, 반응형과 placeholder 디자인 수정
  frontend/src/App.tsx
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/Friendship.tsx
  frontend/src/pages/LoveFortune.tsx
  frontend/src/pages/MoneyFortune.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/pages/TodayFortune.tsx
  frontend/src/pages/WishFortune.tsx
Labels: feature, design, frontend

#179 [FE/feat/#171] 결과상세페이지 카드 기능 구현을 등록한다
  frontend/src/assets/ResultFlipCard.png
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/ResultDetail.tsx
Labels: feature, frontend

#180 [FE/feat/#150] 카드 선택 페이지 로직 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/component/Navbar.tsx
  frontend/src/component/ShuffleArray.tsx
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/MyPage.tsx
Labels: feature, frontend

#181 [BE/refactor/#178] 리팩토리 완료
  Backend/routes/mypage.js
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#185 [FE/design/#177] 로그인, 회원가입 페이지 rem 변환
  frontend/src/App.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
Labels: design, frontend

#186 [BE/refactor/#172] refactoring
  Backend/routes/mypage.js
  Backend/routes/result.js
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#187 Update swagger_output.json
  Backend/swagger/swagger_output.json
Labels: bug, backend

#189 fix: 토큰 버그 수정
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: bug, backend

#190 [Fe/design/#177] 카드 선택 전 대화 페이지 편집
  frontend/src/App.tsx
  frontend/src/assets/Friendship.png
  frontend/src/assets/LandingCard.png
  frontend/src/assets/LandingCards.png
  frontend/src/assets/LinkButton.png
  frontend/src/assets/LoveFortune.png
  frontend/src/assets/MoneyFortune.png
  frontend/src/assets/ShareButton.png
  frontend/src/assets/TodayFortune.png
  frontend/src/assets/WishFortune.png
  frontend/src/component/Navbar.tsx
  frontend/src/pages/CardSave.tsx
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/Friendship.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/LoveFortune.tsx
  frontend/src/pages/MoneyFortune.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/pages/ResultDetail.tsx
  frontend/src/pages/TarotProcess.tsx
  frontend/src/pages/TodayFortune.tsx
  frontend/src/pages/WishFortune.tsx
Labels: design, frontend

#191 [FE/design/#183] 반응형 디자인 처리
  frontend/src/App.tsx
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/TarotProcess.tsx
Labels: design, frontend

#193 [FE/design/#182] 폰트 문제 및 운선택 페이지 디자인 수정을 등록한다.
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/MyPage.tsx
Labels: feature, frontend

#192 fix: 01-13 02:34 버그 수정
  Backend/routes/mypage.js
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: bug, backend

#194 fix: mypage/delete 10진수 추가
  Backend/routes/mypage.js
Labels: bug, backend

#202 [BE/feat/#201] mypage result Null Check
  Backend/routes/mypage.js
  Backend/routes/user.js
  Backend/swagger/swagger.js
  Backend/swagger/swagger_output.json
Labels: bug, feature, backend

#205 refactor : tarot.js 가이드라인 API 스웨거 수정, 폴 아이디 생성 API 수정
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: bug, feature, refactoring, backend

#208 [BE/refactor/#206] tarot.js commonResponse 미들웨어 연결 수정
  Backend/routes/tarot.js
Labels: refactoring, backend

#211 [BE/feat/#210] refactor: Swagger 개선
  Backend/app.js
  Backend/routes/mypage.js
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: feature, refactoring, backend

#212 [BE/refactor/#204] refactoring swagger.responses[200] in result.js
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#213 [Be/feat/#210] 코드 리팩토링 및 create poll 구조 수정
  Backend/README.md
  Backend/app.js
  Backend/routes/poll.js
  Backend/routes/tarot.js
  Backend/routes/test/test.js
  Backend/swagger/swagger_output.json
Labels: feature, refactoring, backend

#216 [BE/refactor/#215] refactor: 에러관련 swagger 주석수정
  Backend/routes/mypage.js
  Backend/routes/user.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#217 [BE/refactor/#214] result/save car 누락일 경우 에러 처리
  Backend/routes/mypage.js
  Backend/routes/result.js
  Backend/swagger/swagger_output.json
Labels: bug, refactoring, backend

#219 [BE/refactor/#218] update tarot.js swagger error message
  Backend/routes/poll.js
  Backend/routes/tarot.js
  Backend/swagger/swagger_output.json
Labels: refactoring, backend

#223 [BE/fix/#221]: 버그 수정
  backend/routes/result.js
  backend/swagger/swagger_output.json
Labels: bug, refactoring, backend

#224 Update docker-compose-dev.yml
  docker-compose-dev.yml
Labels: bug, backend

#225 [Fe/design/#199] 운세선택 페이지 편집
  docker-compose-dev.yml
  frontend/src/pages/FortuneSelect.tsx
  frontend/src/pages/Friendship.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/LoveFortune.tsx
  frontend/src/pages/MoneyFortune.tsx
  frontend/src/pages/TodayFortune.tsx
  frontend/src/pages/WishFortune.tsx
Labels: design, frontend

#226 [FE/design/#198] CSS 수정 및 도커 연동
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/NextBtn.png
  frontend/src/assets/NextButton.png
  frontend/src/pages/CardSave.tsx
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/Friendship.tsx
  frontend/src/pages/LoveFortune.tsx
  frontend/src/pages/MoneyFortune.tsx
  frontend/src/pages/ResultDetail.tsx
  frontend/src/pages/TarotProcess.tsx
  frontend/src/pages/TodayFortune.tsx
  frontend/src/pages/WishFortune.tsx
Labels: feature, design

#228 [BE/feat/#195] Json steam imp
  Backend/card/toCardVaild.js
  backend/app.js
  backend/chatgpt/message.js
  backend/chatgpt/streamJson.js
  backend/middleware/gptStreamResponse.js
  backend/middleware/savePrompt.js
  backend/routes/stream.js
  backend/routes/test/test.js
  backend/routes/test/test.txt
  backend/swagger/swagger_output.json
Labels: feature, backend

#233 [BE/feat/#232] card 폴더 위치 수정
  backend/card/toCardVaild.js
  backend/routes/stream.js
Labels: feature, backend

#235 [BE/refactor/#234] tarot.js 오류 -> 비동기 수정
  backend/routes/tarot.js
  backend/swagger/swagger_output.json
Labels: refactoring, backend

#236 [BE/refactor/#234] tarot.js 오류 처리 수정
  backend/routes/tarot.js
Labels: refactoring, backend

#239 refactor : AWS S3 카드 정보 조회
  backend/aws/awsS3.js
  backend/routes/stream.js
  backend/routes/tarot.js
Labels: bug, refactoring, backend

#240 [FE/feat/#197] 카드선택페이지 수정중
  backend/chatgpt/message.js
  backend/routes/mypage.js
  backend/routes/poll.js
  backend/routes/result.js
  backend/routes/tarot.js
  backend/routes/test/test.js
  backend/routes/user.js
  docker-compose-front.yml
  docker-compose-main.yml
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/FortuneSelect.tsx
Labels: feature, frontend

#243 feat: json stream 구현 및 데이터 정렬
  backend/app.js
  backend/chatgpt/message.js
  backend/chatgpt/streamJson.js
  backend/middleware/gptStreamResponse.js
  backend/middleware/savePrompt.js
  backend/middleware/socketConnection.js
  backend/routes/result.js
  backend/routes/stream.js
  backend/routes/tarot.js
  backend/swagger/swagger.js
  backend/swagger/swagger_output.json
Labels: feature, backend

#245 Revert "feat: json stream 구현 및 데이터 정렬"
  backend/app.js
  backend/chatgpt/message.js
  backend/chatgpt/streamJson.js
  backend/middleware/gptStreamResponse.js
  backend/middleware/savePrompt.js
  backend/middleware/socketConnection.js
  backend/routes/result.js
  backend/routes/stream.js
  backend/routes/tarot.js
  backend/swagger/swagger.js
  backend/swagger/swagger_output.json
Labels: feature, backend

#247 [Be/feat/#246] Nginx 구현
  .gitignore
  docker-compose-dev.yml
  docker-compose-front.yml
  docker-compose-main.yml
  nginx/nginx.conf
Labels: feature, backend

#248 [BE/fix/#246] server_name 수정
  docker-compose-dev.yml
  nginx/Dockerfile
  nginx/nginx.conf
Labels: bug, backend

#250 [BE/fix/#246] 파일 경로 수정
  nginx/Dockerfile
Labels: bug, backend

#251 [BE/fix#246] 파일 경로 수정
  docker-compose-dev.yml
Labels: bug, backend

#252 [Fe/feat/#237] 가이드라인 페이지 API 연동
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Friendship.tsx
  frontend/src/pages/LoveFortune.tsx
  frontend/src/pages/MoneyFortune.tsx
  frontend/src/pages/TodayFortune.tsx
  frontend/src/pages/WishFortune.tsx
  frontend/vite.config.ts
Labels: feature, frontend

#254 [FE/feat/#241] 회원가입 API연동을 등록한다
  frontend/src/pages/Signup.tsx
  frontend/src/pages/Test.tsx
Labels: feature, frontend

#261 fix: swagger and code
  backend/aws/awsS3.js
  backend/routes/poll.js
  backend/routes/stream.js
  backend/routes/tarot.js
  backend/routes/test/test.js
  backend/swagger/swagger_output.json
Labels: bug

#267 etc: stream api 유저 id 요구 제거
  backend/app.js
  backend/routes/mypage.js
  backend/routes/stream.js
  backend/swagger/swagger_output.json
Labels: backend

#268 [Fe/feat/#227] 카드 선택 페이지 API 연동
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/CardSelect.tsx
  frontend/vite.config.ts
Labels: feature, frontend

#270 [FE/feat/#256] 로그인 API 연동을 등록한다
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/state/atom.ts
  frontend/vite.config.ts
Labels: feature, frontend

#275 fix: stream에서 미들웨어 http 오류
  backend/app.js
  backend/middleware/checkPoll.js
  backend/middleware/commonResponse.js
  backend/middleware/savePrompt.js
  backend/middleware/socketHandle.js
  backend/routes/stream.js
  backend/swagger/swagger_output.json
  docker-compose-dev.yml
Labels: bug, feature, backend

#276 [FE/feat/#271] 로그아웃 기능 구현을 등록한다
  frontend/src/component/Navbar.tsx
  frontend/src/pages/Test.tsx
Labels: feature, frontend

#281 [BE/feat/#280] undefined 추가 문제 해결
  backend/routes/stream.js
Labels: bug, backend

#284 [BE/feat#282]: 마이페이지 결과 리스트 조회 TODO: ERR_HTTP_HEADERS_SENT
  backend/routes/poll.js
  backend/swagger/swagger_output.json
Labels: feature, backend

#286 [Be/feat/#285] ssl 구현 1차 시도
  certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/053f50e92556dc2ae6fb1958ad04b4cb/meta.json
  certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/053f50e92556dc2ae6fb1958ad04b4cb/private_key.json
  certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/053f50e92556dc2ae6fb1958ad04b4cb/regr.json
  certbot/conf/options-ssl-nginx.conf
  certbot/conf/ssl-dhparams.pem
  docker-compose-dev.yml
  init-letsencrypt.sh
  nginx/nginx.conf
Labels: feature, backend

#287 Update docker-compose-dev.yml
  docker-compose-dev.yml
Labels: bug, backend

#288 [FE/feat/#277] poll create 기능구현 완료
  frontend/src/pages/Friendship.tsx
  frontend/src/pages/LoveFortune.tsx
  frontend/src/pages/MoneyFortune.tsx
  frontend/src/pages/TodayFortune.tsx
  frontend/src/pages/WishFortune.tsx
  frontend/src/state/atom.ts
  frontend/vite.config.ts
Labels: feature, frontend

#289 Update init-letsencrypt.sh
  init-letsencrypt.sh
Labels: bug, backend

#291 [BE/fix/#290]: nginx.conf 443 추가
  nginx/nginx.conf
Labels: bug, backend

#292 [BE/fix/#290] nginx.conf 443 추가
  nginx/Dockerfile
Labels: bug, backend

#294 [BE/fix#290] init.sh 환경변수 추가
  init-letsencrypt.sh
Labels: bug, backend

#295 BE/fix#290] nginx.conf 443 삭제
  nginx/nginx.conf
Labels: bug, backend

#296 [BE/fix/#290] 443 포트 열기~
  nginx/nginx.conf
Labels: bug, backend

#297 [BE/fix/#290] nginx.conf 수정
  nginx/nginx.conf
Labels: bug, backend

#298 [BE/fix/#290] init.sh -> reload 주석
  init-letsencrypt.sh
Labels: bug, backend

#299 [BE/fix/#290] init.sh -> reload 주석
  docker-compose-dev.yml
Labels: bug, backend

#300 [BE/fix/#290] 인증서 재발급 restart 임시 비활성화
  docker-compose-dev.yml
Labels: bug, backend

#301 [BE/fix/#290] Nginx volumes 경로 수정
  docker-compose-dev.yml
Labels: bug, backend

#303 [FE/feat/#257] 프론트앤드 웹소캣 구현
  backend/app.js
  backend/package-lock.json
  backend/routes/stream.js
  backend/swagger/swagger.js
  backend/swagger/swagger_output.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/TarotProcess.tsx
  frontend/vite.config.ts
Labels: feature, frontend

#305 [BE/fix/#290] Nginx.conf -> ssl 관련 경로 주석 처리
  nginx/nginx.conf
Labels: bug, backend

#307 [Be/fix/#290] feat: tairot.online 접속
  certbot/logs/letsencrypt.log
  certbot/logs/letsencrypt.log.1
  certbot/logs/letsencrypt.log.10
  certbot/logs/letsencrypt.log.11
  certbot/logs/letsencrypt.log.12
  certbot/logs/letsencrypt.log.2
  certbot/logs/letsencrypt.log.3
  certbot/logs/letsencrypt.log.4
  certbot/logs/letsencrypt.log.5
  certbot/logs/letsencrypt.log.6
  certbot/logs/letsencrypt.log.7
  certbot/logs/letsencrypt.log.8
  certbot/logs/letsencrypt.log.9
  docker-compose-dev.yml
  nginx/nginx.conf
Labels: bug, backend

#306 [BE/feat/#283] 전체적인 요류 잡기를 위한 리팩토링
  backend/aws/awsS3.js
  backend/middleware/savePrompt.js
  backend/middleware/socketConnection.js
  backend/middleware/socketHandle.js
  backend/mysql/database.js
  backend/routes/mypage.js
  backend/routes/poll.js
  backend/routes/result.js
  backend/routes/stream.js
  backend/routes/tarot.js
  backend/routes/token.js
  backend/routes/user.js
  backend/swagger/swagger_output.json
Labels: refactoring, backend

#309 fix: token
  backend/routes/token.js
Labels: bug, backend

#310 test: 인증서 발급 테스트
  docker-compose-dev.yml
  init-letsencrypt.sh
  nginx/nginx.conf
Labels: bug, backend

#311 [BE/fix/#290] test: https 테스트
  docker-compose-dev.yml
  init-letsencrypt.sh
Labels: bug, backend

#312 [BE/fix/#290] test: https 테스트 (진짜 된다)
  docker-compose-dev.yml
  nginx/nginx.conf
Labels: bug, backend

#313 [Fe/feat/#269] atom에 카드 번호 저장, 넘어갈 때 지연
  frontend/src/pages/CardSelect.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/state/atom.ts
Labels: feature, frontend

#315 [Update] init-letsencrypt.sh -> 젠킨스 자동실행 로직 변경
  init-letsencrypt.sh
Labels: bug, backend

#318 [Be/fix/#290] 성공기원 feat#1
  docker-compose-dev.yml
  init-letsencrypt.sh
Labels: bug, backend

#319 [BE/fix/#282] ERR_HTTP_HEADERS_SENT
  backend/routes/poll.js
Labels: bug, backend

#320 Update swagger.js
  backend/swagger/swagger.js
Labels: bug, backend
