Repository 2023-winter-techeer-sw-bootcamp-TeamF/TeamF, pull requests merged in 2024-02, with the labels that each got.

#629 dev.yml line(103) 주석
  docker-compose-dev.yml
Labels: bug, backend

#632 [BE/fix/#631] : docker compose error를 수정했어요
  docker-compose-dev.yml
Labels: bug, backend

#633 [Be/feat/#627] Nginx IP -> Clinet IP 수정
  backend/app.js
  backend/swagger/swagger_output.json
Labels: feature, backend

#634 Revert "[Be/feat/#627] Nginx IP -> Clinet IP 수정"
  backend/app.js
  backend/swagger/swagger_output.json
Labels: feature, backend

#635 [Be/feat/#627] client IP 주소 로그 수집
  backend/app.js
  backend/swagger/swagger.js
  backend/swagger/swagger_output.json
Labels: bug, backend

#636 [Be/feat/#627] fix: real-ip modified
  backend/app.js
Labels: bug, backend

#637 [BE/feat/#627] 중꺽마 real-ip modified
  backend/app.js
Labels: bug, backend

#638 [BE/feat/#627] real-ip modified
  backend/app.js
Labels: bug, backend

#639 [BE/feat/#627] fix: real-ip modified 아 진짜 된다고 ㅋㅋ
  logstash/pipeline/logstash.conf
Labels: bug, backend

#640 [BE/feat/#627] fix: real-ip modified 오늘 못끝내면 안잔다
  backend/app.js
Labels: bug, backend

#641 [BE/feat/#627] 포기 ? 어림도 없지 ㅋ
  backend/app.js
Labels: bug, backend

#642 Update app.js
  backend/app.js
Labels: bug, backend

#644 [BE/fix/#643] console로 확인할떄 fault 발생 수정
  backend/bases/dateQuery.js
Labels: bug, backend

#646 [BE/refactor/#645] elk + grafana 종료
  docker-compose-dev.yml
Labels: refactoring, backend

#647 [BE/refactor/#645] elk + grafana 종료
  docker-compose-dev.yml
Labels: refactoring, backend
